.exercise__container {
  background-color: #0e1012;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.exercise__form {
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form__title {
  background: linear-gradient(to right, #0083ee, #00d8da);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  font-size: 2rem;
  margin-top: 2rem;
}

.wieghtlifting__gif {
  height: 50%;
  transform: translate(105%, 20%);
  border-radius: 10px;
}

.pagination {
  margin-right: 10rem;
  margin-top: 1rem;
  color: white;
}
