@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");

.nav__container {
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
}

.navbar {
  width: 75%;
  display: flex;
  justify-content: space-between;
}

.navbar img {
  width: 3rem;
  height: 3rem;
}

.logo {
  cursor: pointer;
}

.logo,
.user__info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.logo .logo__text {
  font-family: "Black Ops One", cursive;
  font-size: xx-large;
}
